# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. Pytorch
3. Tensorflow
4. Pandas
5. numpy
6. Seaborn
7. Matplotlib
8. Keras
9. scipy

Data Science Tools
1. Jupyter lab
2. RStudio
3. Spyder

Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours, "hours")

3.3333333333333335 hours

**Objectives**
- Python
- R
- SQL

## Author
Jack